.l-main {
	&__title{
		text-transform: uppercase;
		@include headingM;
		color: $White;
	}
	&__address {
		margin: 3rem 0;
	}
}
.address {
	&__mainstreet {
		@include headingS;
		color: $Gold;
	}
	&__full {
		@include bodyS;
		margin: 1rem 0;
		color: $White;
	}
	&__description {
		@include bodyS;
		color: $White;
	}
}

@media only screen and (min-width: 750px){
	.l-main {
		&__title {
			margin-right: 7rem;
			@include headingL;
		}
		&__address {
			margin: 0;
		}
	}
}