.header-component__title {
	@include headingM;
	text-transform: uppercase;
}

.cta__description {
	margin: 1.77rem 0;
	@include bodyS;
}

@media only screen and (min-width: 750px) {
	.header-component__title {
		@include headingL;
	}

	.cta__description {
	}
}

@media only screen and (min-width: 1200px) {
	.header-component__title {
		@include headingXL;
		color: transparent;
		background: linear-gradient(90deg, white 0 33%, black 33% 100%);
		z-index: 1;
		background-clip: text;
	}

	.cta__description {
		@include bodyM;
	}
}
