.main-content {
	padding: 6.66rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-content figure img {
	width: 100%;
}

@media only screen and (min-width: 750px){
	.main-content {
	padding: 6.66rem 2.22rem;
	}
}

@media only screen and (min-width: 750px){
	.main-content {
	padding: 14rem 5rem;
	}
}

/*location page*/
.location-main {
	background-color: $AlmostBlack;
	padding: 3.5rem 1rem;
}

@media only screen and (min-width: 750px){
	.location-main {
		padding: 7rem 3rem;
		display: flex;
		flex-direction: row;
	}
}